<div class="col-md-10" >
    <table class="table table-scrollable answerTable">
        <thead>
            <tr>
                <th>{{'answers' | translate}}</th>
                <th>{{'is_correct' | translate}}</th>
                <th>{{'actions' | translate}}</th>
            </tr>
        </thead>
        <tfoot *ngIf="selectedAnswer == null && !newAnswerDisplayed">
            <tr>
                <td><button class="btn btn-primary" (click)="displayNewAnswer()">{{'add_answer' | translate}}<i class="fa fa-fw fa-plus"></i></button></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="#answer of getAnswers()">
            <td>
                <span *ngIf="!isSelectedAnswer(answer)">{{answer.text}}</span>
                <input *ngIf="isSelectedAnswer(answer)" class="form-control" [ngModel]="answer.text" (ngModelChange)="selectedAnswer.text=$event">
            </td>
            <td>
                <div *ngIf="!isSelectedAnswer(answer) && answer.isCorrect"><span class="fa faw fa-check"></span></div>
                <input *ngIf="isSelectedAnswer(answer)" #correctcb type="checkbox" [ngModel]="answer.isCorrect" (change)="selectedAnswer.isCorrect = correctcb.checked" />
            </td>
            <td>
                <button *ngIf="!isSelectedAnswer(answer)" class="btn btn-primary smallBtn editBtn" (click)="removeAnswer(answer)"><span class="fa faw fa-trash-o"></span></button>
                <button *ngIf="!isSelectedAnswer(answer)" class="btn btn-primary smallBtn editBtn" (click)="setEditMode(true, answer)"><span class="fa faw fa-pencil-square-o"></span></button>

                <button *ngIf="isSelectedAnswer(answer)" class="btn btn-danger smallBtn editBtn" (click)="setEditMode(false, answer)"><i class="fa fa-fw fa-times"></i></button>
                <button *ngIf="isSelectedAnswer(answer)" class="btn btn-success smallBtn editBtn" (click)="editAnswer(answer)"><i class="fa fa-fw fa-check"></i></button>
            </td>
        </tr>
        <tr *ngIf="newAnswerDisplayed">
            <td>
                <input class="form-control" [(ngModel)]="newAnswer.text">
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="newAnswer.isCorrect"/>
            </td>
            <td>
                <button class="btn btn-danger smallBtn editBtn" (click)="resetNewAnswer()"><i class="fa fa-fw fa-times"></i></button>
                <button class="btn btn-success smallBtn editBtn" (click)="addAnswer()"><i class="fa fa-fw fa-check"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>