<div *ngIf="!courseSelected">
    <h2 class="bigFont">{{'select_course' | translate}}</h2>
    <course-list (onCourseSelectedEvent)="handleOnSelectedCourseEvent($event)"></course-list>
</div>

<div *ngIf="courseSelected">
    <button *ngIf="!createEventMode" class="btn btn-primary newBtn" (click)="setCreateEventMode(true)">{{'create.event' | translate}}</button>
    <h2 class="bigFont">{{'course_management' | translate}} - {{selectedCourse.name}}</h2>


    <div *ngIf="createEventMode">
        <div>
            <create-event (onEventCreatedEvent)="handleOnEventCreatedEvent($event)" [selectedCourse]="selectedCourse"></create-event>
        </div>
    </div>
    <div *ngIf="!createEventMode">
        <div class="col-md-6">
            <topic-list [selectedCourse]="selectedCourse" #topicList></topic-list>
        </div>
        <div class="col-md-6">
            <question-list [selectedCourse]="selectedCourse" (onQuestionChangedEvent)="topicList.handleOnQuestionChangedEvent($event)"></question-list>
        </div>
    </div>

</div>