<div *ngIf="!courseSelected">
    <h2 class="bigFont">{{'select_course' | translate}}</h2>
    <course-list (onCourseSelectedEvent)="handleOnSelectedCourseEvent($event)"></course-list>
</div>

<div *ngIf="courseSelected" class="col-md-12">
    <div class="col-md-6">
        <h2 class="bigFont">{{'course_management' | translate}} - {{selectedCourse.name}}</h2>
    </div>
    <div class="col-md-6">
        <button *ngIf="!createEventMode" class="btn btn-primary newBtn" (click)="setCreateEventMode(true)">{{'create.event' | translate}}</button>
    </div>

    <create-event *ngIf="createEventMode" [selectedCourse]="selectedCourse"
                  (onEventCreatedEvent)="handleOnEventCreatedEvent($event)"
                  (onEventCanceledEvent)="handleOnEventCanceledEvent($event)" >
    </create-event>

    <div *ngIf="!createEventMode">
        <topic-list class="col-md-6" [selectedCourse]="selectedCourse" (onTopicChangedEvent)="questionList.handleOnTopicChangedEvent($event)" #topicList></topic-list>
        <question-list class="col-md-6" [selectedCourse]="selectedCourse" (onQuestionChangedEvent)="topicList.handleOnQuestionChangedEvent($event)" #questionList></question-list>

        <div class="col-md-12">
            <button class="btn btn-danger-outline newBtn" (click)="handleOnSelectedCourseEvent(null)">{{'change.course' | translate}}</button>
        </div>
    </div>

</div>