<div class="col-md-6">
    <input class="filter" [(ngModel)]="searchTerm" placeholder="{{'filter' | translate}}">
</div>
<div class="table-responsive">
    <div class="scrollable">
        <table class="table table-hover table-scrollable">
            <thead>
                <tr>
                    <th class="col-md-9">{{'name' | translate}}</th>
                    <th class="col-md-3">{{'code' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#course of getCourses()" (click)="selectCourse(course)">
                    <td class="col-md-9">{{course.name}}</td>
                    <td class="col-md-3">{{course.code}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>