<div *ngIf="!courseSelected">
    <h2 class="bigFont">{{'select_course' | translate}}</h2>
    <course-list (onCourseSelectedEvent)="handleOnSelectedCourseEvent($event)"></course-list>
</div>

<div *ngIf="courseSelected">
    <h2 class="bigFont">{{'course_management' | translate}}</h2>
    <h4 class="bigFont">{{selectedCourse.name}}</h4>


    <div class="col-md-6">
        <topic-list [selectedCourse]="selectedCourse" #topicList></topic-list>
    </div>
    <div class="col-md-6">
        <question-list [selectedCourse]="selectedCourse" (onQuestionChangedEvent)="topicList.handleOnQuestionChangedEvent($event)"></question-list>
    </div>

</div>