<div class="eventComponent">

    <div class="col-md-6 col-md-offset-3 newEvent">
        <h3 class="center">{{'create.event' | translate}}</h3>

        <label for="name">{{'name' | translate}}</label>
        <input class="form-control" id="name" [(ngModel)]="eventName">

        <label for="date">{{'date' | translate}}</label>
        <input class="form-control" id="date" [(ngModel)]="eventDate">
    </div>

    <div class="col-md-6">
        <h4>{{'topics' | translate}}</h4>
        <table class="table table-scrollable">
            <tbody>
            <tr *ngFor="#topic of getTopics()">
                <td>
                    <div>
                        <span><b>{{topic.title}}</b></span>
                    </div>
                    <div *ngIf="topic.questions != null && topic.questions.length > 0" class="col-md-10 bordered grayBordered">
                        <table class="table table-scrollable">
                            <tbody>
                            <tr *ngFor="#question of topic.questions">
                                <td [ngClass]="{'selectedQuestion':isSelectedQuestion(question)}"><span>{{question.title}}</span></td>
                                <td><button class="btn btn-primary smallBtn editBtn" (click)="selectQuestion(question)" data-toggle="tooltip" title="{{'question.link' | translate}}"><span class="fa faw fa-link"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4 class="bigFont">{{'selected.questions' | translate}}</h4>
        <table class="table table-scrollable">
            <tbody>
            <tr *ngFor="#question of selectedQuestions">
                <td >
                    <div>
                        <button class="btn btn-primary smallBtn editBtn" (click)="removeQuestion(question)" data-toggle="tooltip" title="{{'question.unlink' | translate}}"><span class="fa faw fa-unlink"></span></button>
                    </div>
                    <div>
                        <div><span><b><u>{{question.title}}</u></b></span></div>
                        <div><span><i>{{question.requirement}}</i></span></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 controlBtns">
        <button class="btn btn-success right" (click)="createEvent()">{{'save' | translate}}<i class="fa fa-fw fa-check"></i></button>
        <button class="btn btn-danger right" (click)="cancelEvent()">{{'cancel' | translate}}<i class="fa fa-fw fa-times"></i></button>
    </div>
</div>