<div class="col-md-12">
    <h2 class="bigFont">{{'events' | translate}}</h2>
</div>

<div *ngIf="!courseSelected" class="col-md-12">
    <h4 class="bigFont">{{'select_course' | translate}}</h4>
    <course-list (onCourseSelectedEvent)="handleOnSelectedCourse($event)"></course-list>
</div>

<div *ngIf="courseSelected">

    <div *ngIf="!eventSelected">
        <div class="col-md-3">
            <input class="filter" [(ngModel)]="searchTerm" placeholder="{{'filter' | translate}}">
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-scrollable">
                <thead>
                    <tr>
                        <th>{{'select.event' | translate}}</th>
                        <th>{{'actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#courseEvent of getCourseEvents()">
                        <td (click)="selectCourseEvent(courseEvent)">{{courseEvent.name}}</td>
                        <td>
                            <button class="btn btn-primary smallBtn editBtn" (click)="removeEvent(courseEvent)"><span class="fa faw fa-trash-o"></span></button>
                            <button class="btn btn-primary smallBtn editBtn" (click)="duplicateEvent(courseEvent)"><span class="fa faw fa-files-o"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="eventSelected">
        <participate-in-event [selectedEvent]="selectedCourseEvent"></participate-in-event>
    </div>
</div>

<div class="col-md-12">
    <button class="btn btn-danger-outline newBtn" *ngIf="courseSelected && !eventSelected" (click)="handleOnSelectedCourse(null)">{{'change.course' | translate}}</button>
    <button class="btn btn-danger-outline newBtn" *ngIf="eventSelected" (click)="selectCourseEvent(null)">{{'change.event' | translate}}</button>
</div>