<div class="col-md-12">
    <h2 class="bigFont">{{'events' | translate}}</h2>
</div>

<div *ngIf="!courseSelected" class="col-md-12">
    <h4 class="bigFont">{{'select_course' | translate}}</h4>
    <course-list (onCourseSelectedEvent)="handleOnSelectedCourseEvent($event)"></course-list>
</div>

<div *ngIf="courseSelected" class="col-md-12">

    <div *ngIf="!eventSelected" class="col-md-6 col-md-offset-3">
        <table class="table table-hover table-scrollable">
            <thead><tr><th>{{'select.event' | translate}}</th></tr></thead>
            <tbody>
                <tr *ngFor="#courseEvent of getCourseEvents()" (click)="selectCourseEvent(courseEvent)">
                    <td>{{courseEvent.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="eventSelected">
        <participate-in-event [selectedEvent]="selectedCourseEvent"></participate-in-event>
    </div>
</div>

<div class="col-md-12">
    <button class="btn btn-danger-outline newBtn" *ngIf="courseSelected && !eventSelected" (click)="handleOnSelectedCourseEvent(null)">{{'change.course' | translate}}</button>
    <button class="btn btn-danger-outline newBtn" *ngIf="eventSelected" (click)="selectCourseEvent(null)">{{'change.event' | translate}}</button>
</div>