body {
    background-color: #ADD8E6;
}

.ifeed {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    color: #003366;
}

.currentComponent{
    overflow: auto;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
}

.newCourseSection, .newQuestionSection, .newTopicSection {
    border: 1px solid #003366;
    margin: 10px;
}

.blueBordered {
    border: 1px solid #003366;
}

.grayBordered {
    border: 1px solid #eceeef;
}

.leftBordered {
    border-left: 1px solid #003366;
}

.bordered {
    margin: 10px;
}

.bordered table td, .bordered table th {
    padding: 2px;
    vertical-align: middle;
}

.bordered table th {
    border: 0;
}

.controlBtns {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.controlBtns .btn {
    width: 100px;
    height: 40px;
    margin-right: 2px;
}

table tr:hover {
    cursor: pointer;
}

.questionDetail {
    background-color: #eee;
}

.smallBtn {
    float: right;
    padding: 2px;
}

.editBtn {
    margin-right: 5px;
}

.newBtn {
    float: right;
    margin: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* answers styling */
.answerTable {
    margin-top: 15px;
}

.answerTable th {
    border-top: 0px;
}

.answerTable th, .answerTable td {
    padding: .25rem;
}

/*top level navigation style*/
#topNavBar {
    background-color: #003366;
    color: #ADD8E6;
    min-height: 50px;
    line-height: 50px;
    vertical-align: center;
}

#topNavBar li {
    margin-right: 20px;
}

#topNavBar li:hover {
    cursor: pointer;
}

#topNavBar .selected {
    color: #fff;
    text-decoration: underline;
}

.nav {
    display: flex;
}

.boldFont {
    font-weight: bold;
}

.selectedLang {
    font-weight: bold;
    color: #fff;
}

.selectedQuestion {
    background-color: #eceeef;
}

.eventComponent {
    margin: 20px;
}

#canvasDiv {
    margin-top:10px;
    margin-bottom:10px;
    height:300px;
    background-color: #fff;
}


#canvasContainer {
    margin: 0 auto;
    height:200px;
    width:200px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}