<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p [%t] --- %c{1}: %m%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="at.warchol.configurator" level="TRACE"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>

    <logger name="org.hibernate" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.boot.actuate.audit.listener" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>

    <logger name="jdbc" level="WARN"/>
    <logger name="jdbc.sqltiming" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

</configuration>